<turbo-stream action="update" target="flash">
  <template>
    <p
      id="flash"
      data-controller="flash"
      data-flash-timeout-value="3000"
      class="bg-green-100 text-green-700 p-4 rounded transition-opacity duration-700"
    >
      進捗を更新しました
    </p>
  </template>
</turbo-stream>
