<%= form_with url: search_path, method: :get, data: {turbo_frame: "task-list"} do %>
  <div class="mb-4">
    <%= label_tag :query, "検索ワード" %>
    <%= text_field_tag :title, params[:title],placeholder:"タイトル検索" ,class: "border p-2 rounded w-full" %>
  </div>
  <%= submit_tag "検索", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
<% end %>
